<div class="col-md-7">
  <h4 class='form-label'><b>Add new pet</b></h4>
  <form role="form" id="addPetForm">
    <div class="form-group">
      <label for="name">Name:</label>
      {{input class="form-control" id="name" value=model.name}}
    </div>
    <div class="form-group">
      <label for="owner_name">Owner name:</label>
       {{input class="form-control" id="ownerName" value=model.ownerName}}
    </div>
    <div class="form-group">
      <label for="owner_phone">Owner name:</label>
       {{input class="form-control" id="ownerPhone" value=model.ownerPhone}}
    </div>
    <button type="submit" class="btn btn-default" {{action 'savePet'}}>Submit</button>
  </form>
</div>
